body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f5f7fb;
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
}

.hero{
  text-align:center;
  padding:80px 20px;
}

.features{
  text-align:center;
}

.card{
  display:inline-block;
  background:white;
  padding:30px;
  margin:15px;
  border-radius:15px;
}
.pricing{
  text-align:center;
  padding:50px 20px;
}

.price-card{
  display:inline-block;
  background:white;
  width:250px;
  margin:15px;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}
.login-box{
  width:300px;
  margin:80px auto;
  background:white;
  padding:30px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.login-box input{
  width:90%;
  padding:12px;
  margin:10px;
  border-radius:8px;
  border:1px solid #ddd;
}
.dashboard{
  max-width:500px;
  margin:40px auto;
  background:white;
  padding:30px;
  border-radius:15px;
}

.dashboard input,
.dashboard select{
  width:90%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #ddd;
}

.output{
  margin-top:20px;
  padding:20px;
  background:#f1f5f9;
  border-radius:10px;
}
.history{
  margin-top:30px;
  background:white;
  padding:20px;
  border-radius:15px;
}

.history-item{
  background:#f1f5f9;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
}
#copyBtn{
  margin-top:15px;
  padding:10px 20px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
#clearHistoryBtn{
  margin-top:10px;
  margin-left:10px;
  padding:10px 20px;
  background:#dc2626;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
